
@font-face{
    font-family: 'Quincho Script';
    src: url(font/quinchoscript_personaluse.ttf);
}

#body{
    background-image: url('../feed/img/soup-wall.jpeg');
}

body {
    background-image: url('../feed/img/soupbgd.jpg');
    background-attachment:fixed;
}

h3, p, nav{
    font-family: "caraque-melted", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*h1{
    font-family: "rooney-web", serif;
    font-weight: 900;
    font-style: italic;
    font-size:120px;
    text-align:center;
    color:#f9e3b4;
    text-shadow:4px 4px black;
    background-color:#df4100;
    justify-content: center;
    align-items:center;
    border:8px solid #f9e3b4;
    margin-bottom:40px;
}*/

h3{
    font-size:50px;
    color:#f9e3b4;
    text-align:center;
    background-color:#df4100;
    border:5px solid #f9e3b4;
}

p{
    font-size:30px;
    color:#df4100;
    text-align:center;
    background-color:#f9e3b4;
    padding:10px;
    border:5px dashed #df4100;
    width:400px;
    height:200px;
    margin-top:250px;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav, a{
    font-size:20px;
    color:#f9e3b4;
}

#img{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    border:5px dashed #f9e3b4;
    margin:10px;
} 

article{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:right;
    margin-left:600px;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:160px;
    margin-left:475px;
  }

nav{
position:fixed;
top:50px;
left:50px;
}


.scroll-arrow {
    position: fixed;
    left: 26px;
    bottom: 26px;
    width: 60px;
    height: 60px;
    background: #f9e3b4;
    border-radius: 50% 0 50% 50%;
    transform: rotate(-45deg);
    z-index: 9;
  }

  #scroll-text{
    color: #df4100;
    position: fixed;
    left: 38px;
    bottom: 41px;
    font-size: 30px;
    z-index: 10;
    font-family: "caraque-melted", sans-serif;
    font-weight: 500;
    font-style:normal;
  }

  #scroll-text:hover {
    color: white;
  }

  html {
    scroll-behavior: smooth;
  }